In [2]:
import matplotlib
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

matplotlib.use('TkAgg')
sns.set(style="darkgrid")

In [3]:
df_1 = pd.read_csv('./HackathonData/CAD/ClassCAD_train.csv')
df_2 = pd.read_csv('./HackathonData/CKD/ClassCKD_train.csv')
df_3 = pd.read_csv('./HackathonData/IBD/ClassIBD_train.csv')
df_4 = pd.read_csv('./HackathonData/T2D/ClassT2D_train.csv')
#list_attributes = list(df_1.columns)
print(df_1.shape, df_2.shape, df_3.shape, df_4.shape)

(572, 40) (559, 40) (614, 42) (1048, 48)

# Data cleaning

In [4]:
df_1 = df_1.loc[:, (df_1 != 0).any(axis=0)]
df_1.shape
df_1.nunique()

sample_ID                                      572
Bacteria;Acidobacteriota;Aminicenantia           3
Bacteria;Acidobacteriota;Blastocatellia          2
Bacteria;Actinobacteriota;Acidimicrobiia         6
Bacteria;Actinobacteriota;Actinobacteria        61
Bacteria;Actinobacteriota;Coriobacteriia       350
Bacteria;Actinobacteriota;Thermoleophilia        3
Bacteria;Bacteroidota;Bacteroidia              561
Bacteria;Bdellovibrionota;Bdellovibrionia        3
Bacteria;Bdellovibrionota;Oligoflexia            5
Bacteria;Campilobacterota;Campylobacteria       23
Bacteria;Chloroflexi;Anaerolineae                2
Bacteria;Cyanobacteria;Vampirivibrionia         82
Bacteria;Dependentiae;Babeliae                   2
Bacteria;Desulfobacterota;Desulfovibrionia     173
Bacteria;Desulfobacterota;Desulfuromonadia       4
Bacteria;Elusimicrobiota;Elusimicrobia           4
Bacteria;Elusimicrobiota;Lineage IIa             2
Bacteria;Fibrobacterota;Fibrobacteria            3
Bacteria;Firmicutes;Bacilli                    480
Bacteria;Firmicutes;Clostridia                 558
Bacteria;Firmicutes;Incertae Sedis              28
Bacteria;Firmicutes;Limnochordia                 7
Bacteria;Firmicutes;Moorellia                    2
Bacteria;Firmicutes;Negativicutes              515
Bacteria;Firmicutes;uncultured                  12
Bacteria;Fusobacteriota;Fusobacteriia           22
Bacteria;Myxococcota;Polyangia                  10
Bacteria;Myxococcota;bacteriap25                 2
Bacteria;Nitrospirota;Nitrospiria                2
Bacteria;Patescibacteria;Saccharimonadia        28
Bacteria;Proteobacteria;Alphaproteobacteria     18
Bacteria;Proteobacteria;Gammaproteobacteria    505
Bacteria;Spirochaetota;Brachyspirae             10
Bacteria;Spirochaetota;Spirochaetia              5
Bacteria;Synergistota;Synergistia                7
Bacteria;Verrucomicrobiota;Lentisphaeria         4
Bacteria;Verrucomicrobiota;Verrucomicrobiae     21
label                                            2
dtype: int64

In [5]:
# Analyse die features, die meisten 0 Werte haben
n_unique_2 = df_1.loc[:,df_1.apply(pd.Series.nunique) == 2]
nicht_kranke_0 = n_unique_2[n_unique_2['label'] == 0]
for i in nicht_kranke_0.columns:
    if i != 'label':
        display(nicht_kranke_0[i].value_counts())
# die Kranke haben alle keine solche Bacterian -> solche Backterian sind nicht wichtig

0     530
16      1
Name: Bacteria;Acidobacteriota;Blastocatellia, dtype: int64

0    530
7      1
Name: Bacteria;Chloroflexi;Anaerolineae, dtype: int64

0    530
9      1
Name: Bacteria;Dependentiae;Babeliae, dtype: int64

0    530
4      1
Name: Bacteria;Elusimicrobiota;Lineage IIa, dtype: int64

0    530
4      1
Name: Bacteria;Firmicutes;Moorellia, dtype: int64

0     530
10      1
Name: Bacteria;Myxococcota;bacteriap25, dtype: int64

0    530
5      1
Name: Bacteria;Nitrospirota;Nitrospiria, dtype: int64

In [6]:
kranke_1 = n_unique_2[n_unique_2['label'] == 1]
for i in kranke_1.columns:
    if i != 'label':
        print(kranke_1[i].value_counts())

0    41
Name: Bacteria;Acidobacteriota;Blastocatellia, dtype: int64
0    41
Name: Bacteria;Chloroflexi;Anaerolineae, dtype: int64
0    41
Name: Bacteria;Dependentiae;Babeliae, dtype: int64
0    41
Name: Bacteria;Elusimicrobiota;Lineage IIa, dtype: int64
0    41
Name: Bacteria;Firmicutes;Moorellia, dtype: int64
0    41
Name: Bacteria;Myxococcota;bacteriap25, dtype: int64
0    41
Name: Bacteria;Nitrospirota;Nitrospiria, dtype: int64

In [7]:
n_unique_2.drop('label', axis=1, inplace=True)

C:\Users\Hanny Nguyen\AppData\Local\Temp\ipykernel_6420\4113712740.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  n_unique_2.drop('label', axis=1, inplace=True)

In [8]:
cols = [col for col in df_1.columns if col not in n_unique_2.columns]
df_1 = df_1[cols]
df_1.shape

(572, 32)

### Data cleaning for df_2

In [9]:
df_2 = df_2.loc[:, (df_2 != 0).any(axis=0)]
df_2.shape
#df_2.nunique()

(559, 39)

In [10]:
# Analyse die features, die meisten 0 Werte haben
_n_unique_2 = df_2.loc[:,df_2.apply(pd.Series.nunique) == 2]
nicht_kranke_0 = _n_unique_2[_n_unique_2['label'] == 0]
for i in nicht_kranke_0.columns:
    if i != 'label':
        print(nicht_kranke_0[i].value_counts())

0     530
16      1
Name: Bacteria;Acidobacteriota;Blastocatellia, dtype: int64
0    530
4      1
Name: Bacteria;Bdellovibrionota;Bdellovibrionia, dtype: int64
0    530
7      1
Name: Bacteria;Chloroflexi;Anaerolineae, dtype: int64
0    530
9      1
Name: Bacteria;Dependentiae;Babeliae, dtype: int64
0    530
4      1
Name: Bacteria;Elusimicrobiota;Lineage IIa, dtype: int64
0    530
4      1
Name: Bacteria;Firmicutes;Moorellia, dtype: int64
0     530
10      1
Name: Bacteria;Myxococcota;bacteriap25, dtype: int64
0    530
5      1
Name: Bacteria;Nitrospirota;Nitrospiria, dtype: int64

In [11]:
# Die Kranken haben keine solche Bacteria und es gitb nur ein gesunde, jeweils solche Bacteria hat -> die sind nich wichtig! (zu klären ! mache es Sinn?)
kranke_1 = _n_unique_2[_n_unique_2['label'] == 1]
for i in kranke_1.columns:
    if i != 'label':
        print(kranke_1[i].value_counts())

0    28
Name: Bacteria;Acidobacteriota;Blastocatellia, dtype: int64
0    28
Name: Bacteria;Bdellovibrionota;Bdellovibrionia, dtype: int64
0    28
Name: Bacteria;Chloroflexi;Anaerolineae, dtype: int64
0    28
Name: Bacteria;Dependentiae;Babeliae, dtype: int64
0    28
Name: Bacteria;Elusimicrobiota;Lineage IIa, dtype: int64
0    28
Name: Bacteria;Firmicutes;Moorellia, dtype: int64
0    28
Name: Bacteria;Myxococcota;bacteriap25, dtype: int64
0    28
Name: Bacteria;Nitrospirota;Nitrospiria, dtype: int64

In [12]:
_n_unique_2.drop('label', axis=1, inplace=True)

C:\Users\Hanny Nguyen\AppData\Local\Temp\ipykernel_6420\1739523785.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _n_unique_2.drop('label', axis=1, inplace=True)

In [13]:
display(_n_unique_2)

,Bacteria;Acidobacteriota;Blastocatellia,Bacteria;Bdellovibrionota;Bdellovibrionia,Bacteria;Chloroflexi;Anaerolineae,Bacteria;Dependentiae;Babeliae,Bacteria;Elusimicrobiota;Lineage IIa,Bacteria;Firmicutes;Moorellia,Bacteria;Myxococcota;bacteriap25,Bacteria;Nitrospirota;Nitrospiria
0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...
554,0,0,0,0,0,0,0,0
555,0,0,0,0,0,0,0,0
556,0,0,0,0,0,0,0,0
557,0,0,0,0,0,0,0,0
558,0,0,0,0,0,0,0,0

In [14]:
cols = [col for col in df_2.columns if col not in _n_unique_2.columns]
df_2 = df_2[cols]
df_2.shape

(559, 31)

### Merge 4 tables

In [15]:
dfs = [df_1, df_2, df_3, df_4]
### difference of df_x vs df_y :: columns die in df_x und nicht in df_y zu finden sind
col_not_overlap = [i for i in list(df_4.columns) if i not in list(df_3.columns)]
col_not_overlap

['Bacteria;Acidobacteriota;Subgroup 19',
 'Bacteria;Acidobacteriota;Vicinamibacteria',
 'Bacteria;Chloroflexi;Chloroflexia',
 'Bacteria;Desulfobacterota;Syntrophia',
 'Bacteria;Firmicutes;Syntrophomonadia',
 'Bacteria;Patescibacteria;Gracilibacteria',
 'Bacteria;Patescibacteria;Parcubacteria']

In [16]:
df_1.shape

(572, 32)

In [17]:
#df_2.reset_index(drop=True) 
#display(df_2.style.hide_index())

s = pd.concat(dfs,keys=range(len(dfs))) 
# concat (join = outer)
#s.index = s.index.map('{0[1]}_{0[0]}'.format)
s = s.reset_index()
s = s.fillna(0)
s

,level_0,level_1,sample_ID,Bacteria;Acidobacteriota;Aminicenantia,Bacteria;Actinobacteriota;Acidimicrobiia,Bacteria;Actinobacteriota;Actinobacteria,Bacteria;Actinobacteriota;Coriobacteriia,Bacteria;Actinobacteriota;Thermoleophilia,Bacteria;Bacteroidota;Bacteroidia,Bacteria;Bdellovibrionota;Bdellovibrionia,...,Bacteria;Firmicutes;Moorellia,Bacteria;Myxococcota;bacteriap25,Bacteria;Nitrospirota;Nitrospiria,Bacteria;Acidobacteriota;Subgroup 19,Bacteria;Acidobacteriota;Vicinamibacteria,Bacteria;Chloroflexi;Chloroflexia,Bacteria;Desulfobacterota;Syntrophia,Bacteria;Firmicutes;Syntrophomonadia,Bacteria;Patescibacteria;Gracilibacteria,Bacteria;Patescibacteria;Parcubacteria
0,0,0,H26709,0,0,1,11,0,5381,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,1,H26781,0,0,17,342,0,2364,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,2,H26800,0,0,2,33,0,4583,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,3,H26721,0,0,5,3,0,5578,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,4,H27098,0,0,0,108,0,11306,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2788,3,1043,H26945,0,0,7,137,0,9483,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2789,3,1044,H25839,0,0,11,181,0,6439,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2790,3,1045,H27376,0,0,1,71,0,17129,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2791,3,1046,H26779,0,0,16,65,0,4659,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2792,3,1047,H27320,0,0,1,90,0,2798,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
tmp = s["label"]
tmp

0       0
1       1
2       0
3       0
4       0
       ..
2788    1
2789    1
2790    0
2791    1
2792    0
Name: label, Length: 2793, dtype: int64

In [19]:
def change_label(df):
    for index, row in df.iterrows():
        if row['level_0'] == 1 and row['label'] == 1:
            s.at[index, 'label'] = 2
            print(index)


change_label(s)

605
632
650
666
671
702
712
727
735
761
777
786
793
821
822
912
924
928
940
963
967
1004
1012
1014
1041
1057
1070
1082

In [20]:
s.loc[(s.level_0 == 2) & (s.label == 1), 'label'] = 3
s.loc[(s.level_0 == 3) & (s.label == 1), 'label'] = 4

In [21]:
s['label']

0       0
1       1
2       0
3       0
4       0
       ..
2788    4
2789    4
2790    0
2791    4
2792    0
Name: label, Length: 2793, dtype: int64